node_modules/
bower_components/
jenkins-test-results.xml
phantomjsdriver.log
coverage/cobertura-coverage.xml
coverage/coverage.json
test/nightwatch-reports/
npm-debug.log
test/nightwatch-screenshots/
public/claims/
selenium-server-standalone-2.48.2.jar
phantomjsdriver.log
