/**
 * Freelancer View Styling
 * js components in components/freelancer.js
 */


/* freelancer main card */

.freelancer-view {
  margin: 10vh 10vw 5vh 10vw;
  width: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.freelancer-header {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: var(--basic-white);
  border-radius: 2px 2px 0px 0px;
}

.picture-placeholder {
  width: 128px;
  height: 128px;
  flex-basis: 128px;
  flex-shrink: 0;
  background-color: var(--background);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12) inset, 0 1px 2px rgba(0,0,0,0.24) inset;
}

.picture-placeholder > img {
  width: 100%;
  height: 100%;
  display: none; /* To remove */
}

.freelancer-header-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 20px;
  padding-right: 20px;
  font-weight: lighter;
  flex-grow: 1;
}

.freelancer-category {
  color: #F44336;
  align-self: flex-start;
  margin: -20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 2px 0 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.freelancer-header-info > h1, .freelancer-header-info > div, .freelancer-header-info > span {
  padding-bottom: 5px;
}

h1.freelancer-header-name {
  font-weight: bold;
}

.freelancer-header-title {
  font-size: 1.2em;
}

address {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #222;
  font-style: normal;
  border-bottom: 1px solid #ddd;
}

address span {
  margin-bottom: 3px;
}

.freelancer-description {
  padding: 20px;
}


/* freelancer reviews card */

.freelancer-reviews {
  width: 100%;
  margin: 5vh 10vw 10vh 10vw;
  width: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.freelancer-reviews article {
  border-top: 1px solid #ddd;
}

.freelancer-reviews article:nth-child(1) {
  border-top: none;
}

article {
  padding: 20px;
}

.review-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.review-text {
  border-left: 5px solid var(--accent-color);
  padding: 10px 20px;
  color: #444;
  line-height: 1.3em;
}

.review-author {
  font-size: 1.2em;
  color: var(--accent-color);
  flex-basis: 100%;
  margin-bottom: 10px;
}

.review-date, .review-score{
  color: #888;
}

ul.tag-list {
  display: flex;
  list-style: none;
  padding: 0 20px 20px 20px;
  margin: 0;
}

ul.tag-list li {
  padding: 5px 15px;
  margin-right: 10px;
  background-color: rgba(244, 67, 54, 0.9);
  color: white;
  border-radius: 8px;
  font-size: 0.7em;
}
