/**
 * Freelancer Creation View Styling
 * js components in components/freelancer-creat.js
 */


/* freelancer create form */

.freelancer-form {
  margin: 10vh 10vw 5vh;
  width: auto;
  box-shadow: var(--box-shadow-material);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.freelancer-form-header {
  padding: 20px;
  color: var(--basic-white);
  background-color: var(--accent-color);
  font-weight: 100;
  border-radius: 2px 2px 0 0;
  text-align: center;
}

.freelancer-form-header h1 {
  font-weight: lighter;
}

.freelancer-form form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.names-input {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: -20px;
}

.names-input .group {
  margin-right: 20px;
  width: 50%;
}


/* freelancer form label (courtesy of codeopen.io user )
 * NOTE: possibly move this code to an external css file if form input
 * fields will be used in other components outside of freelancer-create.js
 */

.group {
  position: relative;
  margin-bottom: 45px;
}

/* category selector */

.category-selector {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 0;
  margin-bottom: 40px;
  margin-top: -22px;
  border-bottom: 1px solid var(--form-input-border);
}

.category-selector select {
  margin: 10px 10px 0 -3px;
  font-family: inherit!;
  font-size: 18px;
}

.category-selector label {
  font-size: 14px;
  color: var(--accent-color);
  margin-left: 5px;
}

select {
  height: 31px;
  border: none;
  background-color: inherit;
  font-size: 1em;
}

select:focus {
  outline: none;
}

/* form starting stylings ------------------------------- */

input {
  font-size: 18px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--form-input-border);
}

input:focus {
  outline:none;
}

/* LABEL ======================================= */

label {
  color: var(--form-label-color);
  font-size: var(--input-font-size);
}

.group label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--accent-color);
}

/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--accent-color);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* Add buttons */

#freelancer-type {
  display: flex;
  justify-content: space-around;
}

#freelancer-other, #freelancer-myself {
  width: 500px;
  height: 200px;
  background-color: var(--accent-color);
  color: var(--basic-white);
  border: 0px;
  font-size: 1em;
  border-bottom: solid 7px var(--home-search-button-border);
}

#freelancer-other::before {
  content: "Add someone else: ";
  font-size: 30px;
}

#freelancer-myself::before {
  content: "Add myself: ";
  font-size: 30px;
}

#freelancer-other {
  margin-left: 100px;
}

#freelancer-myself {
  margin-right: 100px;
}

#freelancer-other:hover, #freelancer-myself:hover {
  background: var(--accent-hover);
  border-bottom: solid 7px var(--home-search-button-border-hover);
  cursor: pointer;
}

#freelancer-other:focus, #freelancer-myself:focus {
  outline: none;
}

#freelancer-other:active, #freelancer-myself:active {
  outline: none;
  border-bottom: 0;
  border-top: solid 7px var(--background);
}
