
/* freelancer main card */

.freelancer-view {
  width: 100%;
  margin: 10vh 10vw 5vh 10vw;
  width: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  background-color: #fff;
}

.freelancer-header {
  background-color: #F44336;
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: #fff;
  border-radius: 2px 2px 0px 0px;
}

.picture-placeholder {
  width: 128px;
  height: 128px;
  background-color: #eee;
  border-radius: 2px;
}

.picture-placeholder > img {
  width: 100%;
  height: 100%;
}

.freelancer-header-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-content: flex-end;
  padding-bottom: 30px;
}

.freelancer-header-info > h1, .freelancer-header-info > div, .freelancer-header-info > span {
  padding-bottom: 10px;
}

address {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #222;
  font-style: normal;
}

address span {
  margin-bottom: 3px;
}


/* freelancer reviews card */

.freelancer-reviews {
  width: 100%;
  margin: 5vh 10vw 10vh 10vw;
  width: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  background-color: #fff;
}

.freelancer-reviews article {
  border-top: 1px solid #ddd;
}

.freelancer-reviews article:nth-child(1) {
  border-top: none;
}

article {
  padding: 20px;
}

.review-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.review-text {
  border-left: 5px solid #F44336;
  padding: 10px 20px;
  color: #444;
}

.review-author {
  font-size: 2em;
  color: #F44336;
  flex-basis: 100%;
  margin-bottom: 10px;
}

.review-date, .review-score{
  color: #888;
}

ul.tag-list {
  display: flex;
  list-style: none;
  padding: 0 20px 20px 20px;
  margin: 0;
}

ul.tag-list li {
  padding: 5px 15px;
  margin-right: 10px;
  background-color: rgba(244, 67, 54, 0.9);
  color: white;
  border-radius: 8px;
  font-size: 0.7em;
}
