/**
 * Freelancer View Styling
 * js components in components/manage-freelancer.js
 */

form#emergency-form-repetition {
  padding-bottom: 1em;
}

form#emergency-form-repetition div {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

#emergency-form-repetition-week label {
  padding-right: .5em;
}

.delete-event {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

div#react-freelancer-emergency-single-list {
  margin-bottom: 2em;
}

ul#calendar-legend {
  list-style-type: disc;
}

li#calendar-legend-single {
  color: green;
}

li#calendar-legend-repeated {
  color: blue;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0;
}

input {
  padding: 10px;
  border: none;
  border-bottom: solid 2px var(--home-search-border);
  transition: border 0.3s;
  outline: none;
  font-size: var(--input-font-size);
}

input.focus,
input:focus {
  border-bottom: solid 2px var(--home-search-border-focus) !important;
  outline: none;
}

button.edit-tab {
  font-size: var(--input-font-size);
  border: 0;
  background-color: var(--accent-color);
  color: white;
  border-bottom: solid 4px var(--home-search-button-border);
  outline: none;
  cursor: pointer;
}

button.edit-tab:hover {
  background-color: var(--accent-hover);
  border-bottom: solid 4px var(--home-search-button-border-hover);
}

button.edit-tab:active {
  border-bottom: 0;
  border-top: solid 4px var(--background);
}

#react-main {
  display: flex;
  justify-content: center;
}

#edit-view {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#edit-content > div {
  display: none;
}

#edit-content > div.selected {
  width: 100%;
  display: flex;
  flex-flow: column;
}

#edit-menu {
  width: 100%;
  display: flex;
  flex-flow: row;
  margin-bottom: 30px;
}

#edit-menu > button {
  flex: 1;
  height: 50px;
  border-bottom: solid 4px var(--accent-color);
}

#edit-menu > button:hover {
  flex: 1;
  border-bottom: solid 4px var(--accent-hover);
}

#edit-menu > button:active {
  border-top: 0;
  border-bottom: solid 4px var(--accent-hover);
}

#edit-menu > button.selected {
  border-bottom: solid 4px var(--home-search-button-border-hover);
}

#edit-content {
  width: 100%;
}

#edit-info input{
  width: 100%;
  height: 30px;
  display: block;
  margin-bottom: 2px;
  border: none;
  border-bottom: solid 2px var(--home-search-border);
  transition: border 0.3s;
  outline: none;
  font-size: var(--input-font-size);
  padding: 0;
}

.group {
  position: relative;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column-reverse;
}

#edit-info label {
  color: var(--form-label-color);
  font-size: var(--input-font-size);
}

input:focus ~ label {
    font-size: 14px;
    color: var(--accent-color);
}

input.submit-button {
    width: 20% !important;
    float: right;
    font-size: var(--input-font-size);
    border: 0;
    background-color: var(--accent-color);
    color: white;
    border-bottom: solid 2px var(--home-search-button-border) !important;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    box-shadow: none;
    padding: 6px 0;
}

#freelancer-modification-message {
  font-weight: lighter;
}

#emergency-form-repetition-week input:focus ~ label {
    top: -0px;
    color: var(--form-label-color);
    font-size: var(--input-font-size);
}

span#edit-feedback {
  text-align: right;
  float: right;
  display: block;
  margin: 25px 10px 0 0;
}

.edit-success {
  color: green;
}

.edit-fail {
  color: red;
}
