/**
 * Freelancer View Styling
 * js components in components/freelancer.js
 */


/* freelancer main card */

.freelancer-view {
  margin: 10vh 10vw 5vh 10vw;
  width: auto;
  box-shadow: var(--box-shadow-material);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.freelancer-header {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: var(--basic-white);
  border-radius: 2px 2px 0px 0px;
}

.picture-placeholder {
  width: 128px;
  height: 128px;
  flex-basis: 128px;
  flex-shrink: 0;
  background-color: var(--background);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12) inset, 0 1px 2px rgba(0,0,0,0.24) inset;
}

.picture-placeholder > img {
  width: 100%;
  height: 100%;
}

.freelancer-header-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 20px;
  padding-right: 20px;
  font-weight: lighter;
  flex-grow: 1;
}

.freelancer-category {
  color: #F44336;
  align-self: flex-start;
  margin: -20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 2px 0 10px;
  box-shadow: var(--box-shadow-material);
}

.freelancer-header-info > h1, .freelancer-header-info > div, .freelancer-header-info > span {
  padding-bottom: 5px;
}

h1.freelancer-header-name {
  font-weight: bold;
}

.freelancer-header-title {
  font-size: var(--general-bigger-font-size);
}

address {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #222;
  font-style: normal;
  border-bottom: 1px solid #ddd;
}

address span {
  margin-bottom: 3px;
}

.freelancer-description {
  padding: 20px;
}


/* freelancer reviews card */

.freelancer-reviews {
  width: 100%;
  margin: 5vh 10vw 10vh 10vw;
  width: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.freelancer-reviews article {
  border-top: 1px solid #ddd;
}

.freelancer-reviews article:nth-child(1) {
  border-top: none;
}

article {
  padding: 20px;
}

.review-form {
  padding: 20px;
}

.review-form form {
  display: flex;
  flex-direction: column;
}

.review-form h3 {
  margin: 0 0 10px 0;
  color: var(--accent-color);
  font-weight: normal;
}

.score-selector {
  margin: 0 0 10px 0;
}

.review-form-comment {
  width: 100%;
  font-size: 1em;
  margin: 0 0 10px 0;
  border-color: var(--accent-color);
  border-style: dotted;
  border-left: 5px solid var(--accent-color);
  padding: 10px 20px;
  color: #444;
  line-height: 1.3em;
  outline: none;
}

.submit-button {
  font-size: 18px;
  padding: 10px 10px;
  font-size: 1em;
}

.review-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.review-text {
  border-left: 5px solid var(--accent-color);
  padding: 10px 20px;
  color: #444;
  line-height: 1.3em;
}

.review-author {
  font-size: var(--general-bigger-font-size);
  color: var(--accent-color);
  flex-basis: 100%;
  margin-bottom: 10px;
}

.review-date, .review-score{
  color: #888;
}

ul.tag-list {
  display: flex;
  list-style: none;
  padding: 0 20px 20px 20px;
  margin: 0;
}

ul.tag-list li {
  padding: 5px 15px;
  margin-right: 10px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  font-size: var(--tag-font-size);
}

#freelancer-claim {
  padding: 10px;
  display: flex;
  flex-flow: column;
}

#freelancer-claim-status {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#freelancer-claim-form {
  background-color: ghostwhite;
  display: flex;
  flex-flow: column;
}

#freelancer-claim-form-message {
  color: red;
}

#same-user-freelancers {
  padding: 20px;
  border-top: 1px solid #ddd;
  transition: all 0.1s ease;
}
#same-user-freelancers:hover {
  cursor: pointer;
  background-color: #eaeaea;
  transition: all 0.1s ease;
}
#same-user-freelancers #same-user-freelancers-title {
  display: block;
  margin-bottom: 20px;
}
#same-user-freelancers > #same-user-freelancers-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#same-user-freelancers-list > .small-freelancer-card {
  display: block;
  margin-right: 10px;
  padding: 5px;
  border-radius: 2px;
  color: white;
  background-color: var(--accent-color);
  transition: all 0.1s ease;
}
#same-user-freelancers-list > .small-freelancer-card:hover {
  color: white;
  background-color: var(--accent-hover);
  transform: scale(1.01);
  transition: all 0.1s ease;
}
#same-user-freelancers > #no-other-profiles-message {
  display: block;
  color: var(--form-label-color);
  padding-left: 10px;
}

.hidden {
  display: none;
}

.bg-orange {
  background-color: orange;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}
