/**
 * Freelancer View Styling
 * js components in components/freelancer.js
 */


/* freelancer main card */

.freelancer-view {
  margin: 10vh 10vw 5vh 10vw;
  width: auto;
  box-shadow: var(--box-shadow-material);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.freelancer-header {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: var(--basic-white);
  border-radius: 2px 2px 0px 0px;
  border-radius: 0;
}

.picture-placeholder {
  width: 128px;
  height: 128px;
  flex-basis: 128px;
  flex-shrink: 0;
  background-color: var(--background);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12) inset, 0 1px 2px rgba(0,0,0,0.24) inset;
}

.picture-placeholder > img {
  width: 100%;
  height: 100%;
}

.freelancer-header-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 20px;
  padding-right: 20px;
  font-weight: lighter;
  flex-grow: 1;
}

.freelancer-category {
  color: var(--accent-color);
  align-self: flex-start;
  margin: -20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 0 10px;
}

.freelancer-header-info > h1, .freelancer-header-info > div, .freelancer-header-info > span {
  padding-bottom: 5px;
}

h1.freelancer-header-name {
  font-weight: bold;
}

.freelancer-header-title {
  font-size: var(--general-bigger-font-size);
}

address {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #222;
  font-style: normal;
  border-bottom: 1px solid #ddd;
}

address span {
  margin-bottom: 3px;
}

.freelancer-description {
  padding: 20px;
}


/* freelancer reviews card */

#login-request-banner {
  padding: 20px;
  margin: 0;
  color: var(--accent-color);
}

.freelancer-reviews {
  width: 100%;
  margin: 5vh 10vw 10vh 10vw;
  width: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.freelancer-reviews article {
  border-top: 1px solid #ddd;
}

.freelancer-reviews article:nth-child(1) {
  border-top: none;
}

article {
  padding: 20px;
}

.review-form {
  padding: 20px;
}

.review-form form {
  display: flex;
  flex-direction: column;
}

.review-form h3 {
  margin: 0 0 10px 0;
  color: var(--accent-color);
  font-weight: normal;
}

.score-selector {
  margin: 0 0 10px 0;
}

.review-form-comment {
  width: 100%;
  font-size: 1em;
  margin: 0 0 10px 0;
  border-color: var(--accent-color);
  border-style: dotted;
  border-left: 5px solid var(--accent-color);
  padding: 10px 20px;
  color: #444;
  line-height: 1.3em;
  outline: none;
}

.submit-button {
  font-size: 18px;
  padding: 10px 10px;
  font-size: 1em;
}

.review-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.review-text {
  border-left: 5px solid var(--accent-color);
  padding: 10px 20px;
  color: #444;
  line-height: 1.3em;
}

.review-author {
  font-size: var(--general-bigger-font-size);
  color: var(--accent-color);
  flex-basis: 100%;
  margin-bottom: 10px;
}

.review-date, .review-score{
  color: #888;
}

ul.tag-list {
  display: flex;
  list-style: none;
  padding: 0 20px 20px 20px;
  margin: 0;
}

ul.tag-list li {
  padding: 5px 15px;
  margin-right: 10px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  font-size: var(--tag-font-size);
}

#freelancer-claim {
  border-radius: 2px 2px 0 0;
  padding: 10px;
  display: flex;
  flex-flow: column;
}

#freelancer-claim-status {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#freelancer-claim-form {
  background-color: ghostwhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start
  flex-flow: row;
  margin-top: 10px;
  background-color: orange;
  color: var(--basic-white);
}

#freelancer-claim-form-message {
  color: red;
}

.hidden {
  display: none;
}

#freelancer-claim.bg-orange {
  background-color: orange;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--basic-white);
}

.bg-green {
  background-color: #79b1ed;
}

.bg-green #freelancer-claim-status {
  height: 30px;
  color: var(--basic-white);
}

.bg-yellow {
  background-color: yellow;
}

.bg-yellow #freelancer-claim-status {
  height: 30px;
}

.reply-toggle-btn {
  margin-top: 20px;
  background-color: var(--accent-color);
  color: var(--basic-white);
  align-self: center;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 80px;
  height: auto;
  font-size: var(--input-font-size);
  border: 0;
  border-bottom: solid 4px var(--home-search-button-border);
  outline: none;
  cursor: pointer;
  text-align: center;
}

.reply-toggle-btn:hover {
  background-color: var(--accent-hover);
  border-bottom: solid 4px var(--home-search-button-border-hover);
}

.reply-toggle-btn:active {
  border-bottom: 0;
  border-top: solid 4px var(--background);
}

.reply-container {
  margin-left: 24px;
}

.reply-reply {
  color: var(--accent-color);
  font-weight: normal;
  font-size: 1em;
  margin: 20px 0;
}

.reply-date {
  color: #888;
}

.reply-text {
  margin-bottom: 0;
  border-left: 5px solid var(--accent-color);
  padding: 10px 20px;
}

.free-rep {
  color: var(--accent-color);
}

#claim-banner-filler {
  flex-grow: 2;
}

/* claim buttons */

#freelancer-claim-toggle-claim, #freelancer-claim-toggle-duplicate {
  padding-top: 7px;
  padding-bottom: 7px;
  width: auto;
  height: auto;
  font-size: var(--input-font-size);
  border: 0;
  background-color: var(--basic-white);
  color: orange;
  border-bottom: solid 4px var(--home-search-border);
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
}

#freelancer-claim-toggle-claim:hover,
#freelancer-claim-toggle-duplicate:hover,
#freelancer-claim-btn:hover  {
  background-color: var(--background);
  border-bottom: solid 4px var(--login-button-border);
}

#freelancer-claim-toggle-claim:active,
#freelancer-claim-toggle-duplicate:active,
#freelancer-claim-toggle-claim:disabled,
#freelancer-claim-toggle-duplicate:disabled,
#freelancer-claim-toggle-claim:hover:disabled,
#freelancer-claim-toggle-duplicate:hover:disabled {
  margin-top: -4px;
  border-bottom: 0;
  border-top: solid 4px orange;
  background-color: var(--basic-white);
  cursor: auto;
}

#freelancer-claim-form-form,
#freelancer-claim-form-form-optional {
  flex-basis: 50%;
  /*padding: 10px;*/
}

#freelancer-claim-btn {
  height: 36px;
  width: 120px;
  font-size: var(--input-font-size);
  border: 0;
  background-color: var(--basic-white);
  color: orange;
  border-bottom: solid 4px var(--home-search-border);
  outline: none;
  cursor: pointer;
  text-align: center;
}

#freelancer-claim-btn:active {
  border-top: solid 4px orange;
  background-color: var(--basic-white);
  border-bottom: 0;
}

#freelancer-claim-form-message {
  margin: 8px 0 0 15px;
}

#required-docs,
#optional-docs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#required-docs li,
#optional-docs li {
  background-color: white;
  border-radius: 8px;
  list-style: none;
  color: orange;
  margin-right: 10px;
  padding: 5px 15px;
}

#freelancer-claim-form-files,
#freelancer-claim-form-optional-files {
  margin: 10px 0;
}
