html {
  font-family: sans-serif;
}

body {
  margin: 0;
  /*background-color: ghostwhite;*/
}

#root {
  margin: 50px 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 50px;
}

#search-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

#search-name {
  width: 20%;
  height: 30px;
}

#search-btn {

}

#search-warning {
  color: red;
}

#filters-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

#filters {
  display: inline-flex;
}

#freelancer-create-btn {
  width: 100%;
  height: 40px;
}

#root > * {
  /*background-color: lightgreen;*/
  width: 100%;
}

#freelancers-container {
  /*background-color: lightgreen;*/
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.freelancer-card {
  width: 100%;
  background-color: #F44336;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  padding: 20px;
  color: #fff;
  border-radius: 2px 2px 0px 0px;
}

.freelancer-card:hover {
  cursor: pointer;
}

.freelancer-card-picture-placeholder {
  width: 128px;
  height: 128px;
  background-color: #eee;
  border-radius: 2px;
}

.freelancer-card-picture-placeholder > img {
  width: 100%;
  height: 100%;
}

.freelancer-card-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-content: flex-end;
  padding-bottom: 30px;
}

.freelancer-card-info > h1,
.freelancer-card-info > div,
.freelancer-card-info > span {
  padding-bottom: 10px;
}
