html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#root {
  margin: 50px 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#topbar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--accent-color);
  margin-bottom: 50px;
  box-shadow: var(--box-shadow-material);
}

#title {
  font-size: 3em;
  text-align: center;
  color: white;
  margin-left: 20px;
  padding: 5px 0;
}

#search-and-filters {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#search-container {
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-what,
#search-where {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  outline: none;
  width: 250px;
  height: 60px;
  font-size: 1.2em;
}

#search-what:focus,
#search-what.focus,
#search-where:focus,
#search-where.focus {
  border-bottom: solid 2px #969696;
  outline: none;
}

#search-where {
  margin-left: 20px;
}

#search-btn {
  margin-left: 20px;
  width: 100px;
  font-size: 1.2em;
  border: 0;
  background-color: var(--accent-color);
  color: white;
  border-bottom: solid 4px #d83838;
  outline: none;
}

#search-btn:hover {
  background-color: var(--accent-hover);
  border-bottom: solid 4px #b72f2f;
}

#search-warning {
  color: red;
  margin-top: 20px;
}

#filters-container {
  margin-bottom: 50px;
}

#filters {
  display: flex;
  flex-flow: row;
  justify-content: left;
  margin-left: 18px;
}

#filter-category-dropdown, #filter-location-dropdown {
  background-color: white;
  margin: 0 18px;
  width: 100px;
  outline: none;
}

#freelancer-create-btn {
  width: 100%;
  height: 65px;
  background-color: var(--basic-white);
  color: var(--accent-color);
  border: 0px;
  font-size: 1.2em;
  padding: 20px;
}

#freelancer-create-btn:hover {
  box-shadow: var(--box-shadow-material-hover);
  cursor: pointer;
}

#freelancer-create-btn:focus {
  outline: none;
  background-color: var(--background);
}


#root > * {
  width: 100%;
}

#freelancers-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.freelancer-card {
  width: 100%;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  padding: 20px;
  color: var(--basic-white);
  border-radius: 2px;
  box-shadow: var(--box-shadow-material);
  transition: all 0.1s ease;
}

.freelancer-card:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow-material-card-hover);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.1s ease;
}

.freelancer-card-picture-placeholder {
  width: 128px;
  height: 128px;
  background-color: #eee;
  border-radius: 2px;
}

.freelancer-card-picture-placeholder > img {
  width: 100%;
  height: 100%;
}

/* Card information */

.freelancer-card-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 20px 0 20px;
  align-content: flex-end;
  padding-right: 20px;
}

.freelancer-card-info > h1,
.freelancer-card-info > h2,
.freelancer-card-info > div,
.freelancer-card-info > span {
  padding-bottom: 5px;
  font-weight: 100;
}

.freelancer-card-info > h2 {
  font-weight: bold;
  margin: 0;
}

.job-title {
  font-weight: lighter;
}

/* Category corner */
.category {
  color: #F44336;
  align-self: flex-start;
  margin: -20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 2px 0 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
