* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, h1 {
  margin: 0;
  font-family: helvetica, sans-serif;
}

html {
  background-color: var(--background);
}

/* Global variables */
* {
  /* Colors */
  --accent-color: #F44336; /* change hover color accordingly */
  --accent-hover: #c9372c;
  --basic-white: #fff;
  --background: #f7f7f7;
  --home-search-border: #c9c9c9;
  --home-search-border-focus: #969696;
  --home-search-button-border: #d83838;
  --home-search-button-border-hover: #b72f2f;
  --form-label-color: #999;
  --form-input-border: #757575;
  --login-button-border: #b1b1b1;

  /* Shadows */
  --box-shadow-material: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-material-hover: 0 4px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-material-card-hover: 0px 6px 17px 0px rgba(0,0,0,0.25);

  /* Font sizes */
  --title-font-size: 3em;
  --input-font-size: 1.2;
  --tag-font-size: 0.7;
  --general-bigger-font-size: 1.2em;
}

.title {
  display: flex;
  height: 100%;
  justify-content: space-around;
  text-align: center;
}

#react-title {
  display: flex;
  flex-direction: column;
}

/* Topbar */

#topbar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--accent-color);
  margin-bottom: 50px;
  box-shadow: var(--box-shadow-material);
}

#title {
  font-size: 3em;
  text-align: center;
  color: white;
  margin-left: 20px;
  padding: 5px 0;
}

#react-username {
  color: white;
}

a#title {
  text-decoration: none;
}

#freelancer-home-btn {
  width: 100%;
  height: 65px;
  background-color: var(--basic-white);
  color: var(--accent-color);
  border: 0px;
  font-size: 1.2em;
  padding: 20px;
}

#freelancer-home-btn:hover {
  box-shadow: var(--box-shadow-material-hover);
  cursor: pointer;
}

#react-register {
  display: flex;
  align-items: center;
}

#login-form {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#login-username, #login-password {
  padding: 10px 10px 5px 5px;
  border: none;
  border-bottom: solid 2px var(--basic-white);
  transition: border 0.3s;
  outline: none;
  width: 35%;
  height: auto;
  font-size: var(--input-font-size);
  background: var(--accent-color);
  color: var(--basic-white);
}

#login-submit, #user-register-btn  {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 80px;
  height: auto;
  font-size: var(--input-font-size);
  border: 0;
  background-color: var(--basic-white);
  color: var(--accent-color);
  border-bottom: solid 4px var(--home-search-border);
  outline: none;
  cursor: pointer;
  text-align: center;
}

#login-submit:hover, #user-register-btn:hover {
  background-color: var(--background);
  border-bottom: solid 4px var(--login-button-border);
}

#login-submit:active, #user-register-btn:active {
  border-bottom: 0;
  border-top: solid 4px var(--accent-color);
}

#user-register-btn {
  margin-left: 30px;
}

#topbar-filler-right {
  flex-grow: 2;
}
#topbar-filler-left {
  flex-grow: 1;
}
/* End topbar */

/* Submit button */

.submit-button {
  background-color: var(--accent-color);
  color: var(--basic-white);
  width: 17%;
  border-radius: 2px;
  border-style: none;
  align-self: flex-end;
}

.submit-button:hover {
  background-color: var(--home-search-button-border-hover);
  cursor: pointer;
}

.submit-button:hover:active {
  box-shadow: var(--box-shadow-material);
}

.submit-button:focus {
  outline: none;
}

/* End submit button */

/* Placeholder bullshit color change */

#login-username::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--basic-white);
}

#login-username:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: var(--basic-white);
opacity:  1;
}

#login-username::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: var(--basic-white);
   opacity:  1;
}

#login-username:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--basic-white);
}

#login-password::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--basic-white);
}

#login-password:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: var(--basic-white);
opacity:  1;
}

#login-password::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: var(--basic-white);
   opacity:  1;
}

#login-password:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--basic-white);
}

/* End placeholder bullshit */
