* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, h1 {
  margin: 0;
  font-family: helvetica, sans-serif;
}

html {
  background-color: var(--background);
}

/* Global variables */
* {
  --accent-color: #F44336; /* change hover color accordingly */
  --accent-hover: #c9372c;
  --basic-white: #fff;
  --background: #f7f7f7;
  --box-shadow-material: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-material-hover: 0 4px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --box-shadow-material-card-hover: 0px 6px 17px 0px rgba(0,0,0,0.25);
}

.title {
  display: flex;
  height: 100%;
  justify-content: space-around;
  text-align: center;
}

#topbar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--accent-color);
  margin-bottom: 50px;
}

#react-title {
  display: flex;
  flex-direction: column;
}

/* Topbar */
#title {
  font-size: 3em;
  text-align: center;
  color: white;
  margin-left: 20px;
  padding: 5px 0;
}

a#title {
  text-decoration: none;
}

#freelancer-home-btn {
  width: 100%;
  height: 65px;
  background-color: var(--accent-color);
  border: 0px;
  border-left: 1px solid white;
  color: white;
  font-size: 1em;
}

#freelancer-home-btn:hover {
  background-color: var(--accent-hover);
  pointer: cursor;
}
/* End topbar */
