#user-page-content {
  margin: 50px 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#user-page-title {
  display: block;
  width: 100%;
  color: gray;
  font-weight: normal;
  text-align: left;
  margin-bottom: 30px;
}


#user-page-list {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.freelancer-card-container {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  border-radius: 2px;
  transition: all 0.1s ease;
}

.freelancer-card-container:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.1s ease;
}

/* Copied from homepage.css */
.freelancer-card {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow-material);
  color: var(--basic-white);
  transition: all 0.1s ease;
}

.freelancer-card:hover {
  cursor: pointer;
  transition: all 0.1s ease;
}

.freelancer-card-picture-placeholder {
  width: 128px;
  height: 128px;
  background-color: #eee;
  border-radius: 2px;
}

.freelancer-card-picture-placeholder > img {
  width: 100%;
  height: 100%;
}

/* Card information */

.freelancer-card-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 20px 0 20px;
  align-content: flex-end;
  padding-right: 20px;
}

.freelancer-card-info > h1,
.freelancer-card-info > h2,
.freelancer-card-info > div,
.freelancer-card-info > span {
  padding-bottom: 5px;
  font-weight: 100;
}

.freelancer-card-info > h2 {
  font-weight: bold;
  margin: 0;
}

.job-title {
  font-weight: lighter;
}

/* Category corner */
.category {
  color: var(--accent-color);
  align-self: flex-start;
  margin: -20px;
  padding: 10px;
  background-color: var(--basic-white);
  border-radius: 0 2px 0 10px;
}

.freelancer-card-container > .freelancer-edit-delete-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 100px;
  height: 45%;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.4, 0.0, 1, 1);
}

.freelancer-card-container > .freelancer-edit-delete-buttons > .modify-button {
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: all 0.3s cubic-bezier(0.4, 0.0, 1, 1);
}

.freelancer-card-container:hover > .freelancer-edit-delete-buttons {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.freelancer-card-container:hover > .freelancer-edit-delete-buttons > .modify-button {
  box-shadow: var(--box-shadow-material);
  transition: all 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modify-button {
  height: 45%;
  width: 85%;
  border-radius: 2px;
  border-style: none;
  font-size: 15px;
  background-color: var(--home-search-border);
  color: var(--form-input-border);
  transition: all 0.1s ease;
}

.modify-button:hover {
  background-color: var(--home-search-border-focus);
  cursor: pointer;
}

.modify-button:hover:active {
  box-shadow: var(--box-shadow-material-card-hover);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.1s ease;
}

.modify-button:focus {
  outline: none;
}
